
html, body, .container{
    height: 100%;
    margin: 0;
}

.container{
    display: flex;
    column-gap: 45px;
}

.navbar {
    height: 100%;
    width: 200px;
    background: rgb(255,255,255);
    border-right: 2px solid #C0C0C0
}

.navbar__link {
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #696969;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85rem;
    border-bottom: 1px solid #ffffff;
}

.navbar__link .material-icons{
    margin-right: 20px;
}

.navbar__link:active{
    color: #000000;
}

.flex-container{
    display: flex;
    direction: ltr;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;

}

.form{
    display: flex;
}

#save-button{
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color:#1f83cb;
    color: #fff;
    width: 100%;
}

form label, input, #unassign-link{
    display: grid;
}

form label {
    margin-bottom: 20px;
}

.text-input{
    border-color: #1f83cb;
    padding: 5px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #1f83cb;
}

#unassign-link{
   text-align: center; 
}

