
html, body, .container{
    height: 100%;
    margin: 0;
    background: #f4f6f9;
}

.container{
    display: flex;
    column-gap: 45px;
}

.navbar {
    height: 100%;
    width: 200px;
    background: rgb(255,255,255);
    border-right: 1px solid #C0C0C0
}

.navbar-link, .navbar-link-home{
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
}
.navbar-link .material-symbols-outlined{
    margin-right: 20px;
}

.navbar-link{
    color: #696969;
    font-size: 0.85rem;
}

.navbar-link-home{
    color: #000;
    font-size: 1.25rem;
}

.home-icon{
    align-items: stretch;
}

.navbar-link-home{
    column-gap: 5px;
}

.navbar-link-home, .page-path, .navbar-link, .path{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-link:active{
    color: #000000;
}

.current-farm-logo-image-icon img{
    max-width:50%;
    height:auto;
    vertical-align: super;
}

.flex-container{
    display: flex;
    direction: ltr;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    margin-top: 25px;
}

.path{
    vertical-align: super;
}

.nutrition-plan-overview-base-tag, .overview-of-crop-sub-headline{
    font-family: Arial, Helvetica, sans-serif;
}

.overview-of-crop-sub-headline{
    color: #7c7c8a;
}



